body {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    background-color: #121212;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    color: #00b8d9;
}

header {
    background-color: #1a1a1a;
    padding: 20px; /* Espaçamento interno de 20 pixels */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a:nth-child(3) {
    margin-left: 1px; /* Ajuste a margem conforme necessário */
}

#hero {
    background-image: url('https://i.postimg.cc/g2RDJsk8/teste.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    padding-top: 200px; /* Ajuste para mover o conteúdo para baixo */
    background-repeat: no-repeat;  
}

#hero h1 {    
    margin: 0;
    font-size: 3rem; /* Reduzir tamanho da fonte para telas menores */
}

#hero p {   
    margin: 0;
    font-size: 1.2rem; /* Reduzir tamanho da fonte para telas menores */
}

#features {
    padding: 6rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#features h2 {
    font-size: 2.5rem;
    color: #00b8d9;
    margin-bottom: 1.5rem;
}

#features p {
    max-width: 30rem;
    text-align: center;
}

footer {
    background-color: #0f0f0f;
    padding: 2rem;
    text-align: center;
}

/* Adicionando um estilo para o botão de download */
.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #00b8d9;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #008ba3;
}
#sobre {
    margin-left: 20px;
    font-size: 16px;
}
#down {
    margin-left: 880px;
    margin-top: -26px;
    font-size: 16px;
}
#novi {
    margin-left: 1729px;
    margin-top: -26px;
    font-size: 16px;
}
#jogo {
    text-align: justify;
}


















